body {
  background-color: #3f2860;
  color: #3f2860;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
  background-color: #f5f5f5;
  min-width: 1000px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px rgb(16, 151, 175);
}

header {
  background-color: #9bc1c2;
  background-image: url(../picture/header_background.jpg);
  height: 150px;
}

header h1 {
  padding-top: 50px;
  padding-left: 2em;
}

nav {
  text-align: center;
  font: bold;
  padding: 1em;
}

nav a {
  text-decoration: none;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

.studio {
  font: italic;
}

footer {
  background-color: #9bc1c2;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

#largure_picture {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

#email {
  color: blue;
  text-decoration: underline;
}
