body{
    background-color: #3399CC;
    background-image: linear-gradient(to bottom,#3399CC, #C2E0F0,#3399CC);
    color: #666;
    font-family: Verdana,Arial,sans-serif;
}
#wrapper{
    background-color: #FFFFFF;
    min-width: 700px;
    max-width: 1024px;
    box-shadow:5px 10px;
    margin-left: auto;
    margin-right: auto;

}
header {
    background-color: #000033;
    color:#FFFFFF;
    font-family: Georgia, serif;
}
header h1{
    line-height: 200%;
    background-image: url(../picture/header_background.jpg);
    background-attachment: fixed;
    background-repeat:repeat;
    padding:2px;
    height: 72px;
    margin-bottom: 0;
}
nav{
    background-color: #90c7e3;
    line-height: 200%;
    padding: 5px 5px 5px 2px;
}
nav a{
    text-decoration: none;
}

.formpicture > img{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: repeat;
}
#main{
    padding-left: 2em;
    padding-right: 2em;
}

#main h2{
    color: #3399CC;
    font-family: Georgia, serif;
}
#main h3{
    color: #000033;
}
#main dt{
    color: #000033;
    font: bold;
}
.resort{
    color: #000033;
    font-size: 1.2em;
}

footer{
    font-size: small;
    font:italic;
    text-align: center;
    padding:1em;
}
.email{
    color: #2533ac;
    text-decoration: underline;
}
#activiti{
    padding-left: 2em;
}