<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Path of Light Yoga Studio</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Path of Light Yoga Studio</h1>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="class.html">Classes</a></li>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <main>
            <div class="container">
                <h1>Contact Path of Light Yoga Studio</h1>
                <div class="details">
                    <form action="">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                        <label for="">Comments</label>
                        <textarea required="required" name="" id="" cols="30" rows="7"></textarea>
                        <button type="submit">Apply Now</button>
                      </form>
                </div>
            </div>
        </main>

        <footer>
            Copyright © 2018 Path of Light Yoga Studio <br>
            <span id = "email">hecquyner@gmail.com</span>
        </footer>

    </div>
</body>
</html>
