<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <title>Path of Light Yoga Studio :: Schedule</title>
</head>
<body>
    <div id = "wrapper">
    <header>
        <h1>Path of Light Yoga Studio</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="class.html">Classes</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

    </nav>
    <main>
        <div>
            <img src="../picture/cau-rong-da-nang.jpg" alt="Cầu rồng Đà Nẵng" id="largure_picture">
        </div>

        <h2>Yoga Schedule</h2>

        <p>Mats, blocks, and blankets provided. Please arrive 10
            minutes before your class begins. Relax in our Serenity
            Lounge before or after your class.
        </p>

        <h3>Monday -- Friday</h3>

        <ul>
            <li>9:00am Gentle Hatha Yoga</li>
            <li>10:30am Vinyasa Yoga</li>
            <li>5:30pm Restorative Yoga</li>
            <li>7:00pm Gentle Hatha Yoga</li>
        </ul>

        <h3>Saturday & Sunday</h3>

        <ul>
            <li>10:30am Gentle Hatha Yoga</li>
            <li>Noon Vinyasa Yoga</li>
            <li>1:30pm Gentle Hatha Yoga</li>
            <li>3:00pm Vinyasa Yoga</li>
            <li>5:30 pm Restorative Yoga</li>
        </ul>


    </main>
    <footer>
        Copyright © 2018 Path of Light Yoga Studio <br>
            <span id="email">hecquyner@gmail.com</span>
    </footer>
    </div>
</body>
</html>
